*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    font-family:'Lato', sans-serif;
    font-size: 16px;
}


///HEADER ////

.header{
    z-index: 4;
    transition: all 300ms ease-in-out;
    position: fixed;
    width:100%;
    background-color:$color-dark;

    &__wrapper{
        position: relative;
        display:flex;
        flex-direction: column;
        background-color:$color-dark;
        transition: all 400ms ease-in-out;
    }
    
}

.logo{
    width:14.5rem;
    height:auto;

}

.btn--call{
    display:flex;
    justify-content: center;
    align-items: center;
    border:none;
    border-radius: 15px;
    padding:5px;
    color:$color-dark;
    cursor:pointer;
    transition: all 400ms ease-in-out;
    &:hover{
        background-color: $color-grey;
        color:$color-grey-2;
    }
}

// ANIMATING MENU CLASSES //

.animateIn{
    transform: translateY(0px);
}
  
  .animateOut{
    transform: translateY(-100%);
}
///NAV ///
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    @media screen and (max-width: 860px) {
        display:none;
    }

    &__list {
        display:flex;
        list-style: none;
        height: 100%;

        @media screen and (max-width: 860px) {
            flex-direction: column;
        }
    }

    &__list__item{
        position:relative;
        margin: 0 1rem;
        color:$color-white;
        height:100%;
        padding:.9rem;

        &:hover{
            background-color: $color-grey;
            transition: all .7s;
            .drop__menu{
                visibility: visible;
            }
        }
    }
}


.list__link{
    cursor: pointer;
    text-transform: uppercase;
    height:100%;
    text-decoration: none;
    color:$color-white;

    &__eng{
        margin: 0 1rem;
        height:100%;
        padding:.9rem;
        text-transform: uppercase;
    }
    
}

.right{
    margin-right: 1rem;
}
.lang{
    display: flex;
}

.drop__menu{
    position: absolute;
    top:3rem;
    left:0;
    width:100%;
    background-color: $color-dark;
    list-style: none;
    border-radius: 4px;
    padding:.5rem;
    visibility: hidden;

    &__item{
        margin:1rem 0;
        display:block;
    }
}

.menu-link{
    display:block;
    padding:.5rem;
    text-decoration: none;
    margin: 0 1rem;
    color:$color-white;
    border-radius: 4px;
}
.menu-link:hover{
    background-color: $color-grey;
    transition: all .4s;
    
}

.eng{
    width:1.5rem;
    height:1.5rem;
}




.nav--toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer; 
    color: rgba(255,255,255,1);
    background-color: $color-dark;
    padding:1rem;
    border-radius: 4px;
    font-size: 24px;

    @media screen and (min-width: 861px){
        display: none;
    }
}

.active {
    display:flex;
    flex-direction: column;
}

/////  HERO SECTION ////

.hero{
    background-image:
                        linear-gradient(rgba(64,64,64,0.25),
                                    rgba(64,64,64,0.25)),
                            url(../img/hero.jpg);
    background-size:cover;
    background-position: center;
    //background-attachment: fixed;
    padding:15rem;

    @media screen and (max-width: 860px) {
        padding:10rem;
    }
    @media screen and (max-width: 700px) {
        padding:5rem;
    }
    @media screen and (max-width: 415px) {
        padding:3rem;
    }
    @media screen and (max-width: 320px) {
        padding:5rem 1rem .5rem 1rem;
    }

    &__heading{
        text-transform: uppercase;
        font-size: 3rem;
        font-weight: 500;
        color:$color-white;

        @media screen and (max-width: 700px) {
            font-size: 2rem;
        }
    }
}

// BUTONS ////

.btn{
    display:inline-block;
    padding:.6rem 2rem;
    margin-top:2rem;
    text-transform:uppercase;
    font-weight: 550;
    background-color: $color-secondary;
    color:$color-dark;
    text-decoration: none;
    border:none;
    border-radius: 4px;
    cursor: pointer;

    &:hover{
        background-color: $color-dark;
        color:$color-white;
        transition: all .7s;
    }

}

//about us//
.about{
    display:flex;
    flex-direction: column;
    padding:2rem;

    &__pic{
        width:60%;
        align-self: center;
        border-radius: 4px;
        box-shadow:0 0 .7rem rgba($color-black, .2);
        @media screen and (max-width: 930px) {
            width:70%;
        }
        @media screen and (max-width: 650px) {
            width:80%;
        }
        @media screen and (max-width: 415px) {
            width:90%;
        }
    }

    &__text{
        padding-top: 2rem;
        text-align: center;
        font-size:$medium;
        line-height: 1.8rem;
        font-weight: 550;
        color:$color-dark;
        @media screen and (max-width: 650px) {
            font-size: 1rem;
        }
    }
}

//CARD SECTION ////

.cards{
    padding:2rem;
    background-color:$color-white;
    @media screen and (max-width: 415px) {
        padding:.5rem;
    }

    &__heading{
        display:block;
        text-align: center;
        margin-bottom: 2rem;
        text-transform: uppercase;
        color:$color-dark;
    }
    &__container{
        padding: 0 5rem;
        display:flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 1300px) {
            padding:2rem;
            justify-content: space-around;
        }

        @media screen and (max-width: 1150px) {
            padding:0 .4rem;
        }
        @media screen and (max-width: 650px) {
            flex-direction: column;
        }
        @media screen and (max-width: 415px) {
            padding:0;
        }
    }
}

.card{
    display:flex;
    flex-direction: column;
    width:40%;
    justify-content: space-around;
    border-radius: 4px;
    box-shadow:0 0 .7rem rgba($color-black, .2); 
    margin: 0 1rem;
    padding: .5rem;

    @media screen and (max-width: 1150px) {
        flex-direction: column;
    }
    @media screen and (max-width: 650px) {
        width:85%;
        margin-bottom: 1rem;
    }
    @media screen and (max-width: 415px) {
        width:90%;
    }


    &:hover{
        transform: translateY(-.4rem);
        transition: transform .5s;
        box-shadow: .5rem .5rem 1rem rgba($color-black, .2);
    }

    &__img{
        width:100%;
        height:auto;
        border-radius: 4px;
        @media screen and (max-width: 1150px) {
            width:100%;
            height: auto;
        }
    }

    &__body{
        margin-left: .2rem;
        width:100%;
        padding-top: 1rem;
        @media screen and (max-width: 1150px) {
            width:100%;
            margin-left: 0;
        }
        @media screen and (max-width: 650px) {
            font-size: 1rem;
        }

        p{
            padding-top: .5rem;
        }
    }
}
.u-center-text{
    text-align: center;
}

///SECTION SERVICES ////

.services{
    padding:2.5rem 2rem;
    background-image: linear-gradient(rgba(255,255,255,0.8),
                                      rgba(255,255,255,0.8)),
                        url(../img/dfopt.jpg);
    background-size: cover;
    &__container{
        display:flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding:1rem 5rem;
    }

    &__figure{
        margin:2rem 3rem;
        padding-top:.5rem;
        padding-bottom: .7rem;
        flex-basis: 20%;
        text-align: center;
        border-radius: 4px;
        text-decoration: none;
        color:$color-dark;

        &:hover{
            background-color: rgba($color-secondary, .5);
            transition: all .7s;
        }

        img{
            width:7rem;
            height:7rem;
            display:block;
            margin:0 auto;
        }

        span{
            text-transform: uppercase;
        }
    }
}

///KONTAKT SECTION ///
.info{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color:$color-white;
    @media screen and (max-width: 780px) {
        width:100%;
        align-items: center;
    }

    &__heading{
        margin-bottom: 1rem;
        text-transform: uppercase;
    }

    &__text{
        margin-bottom: 1rem;
    }

    &__map__google{
        border-radius: 4px;
    }
}
.email__box{
    display:flex;
    justify-content: center;
    //align-items: center;
    margin-bottom: 1rem;
}

.phone__box{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}


.box__icon{
    width:1.4rem;
    height: 1.4rem;
    fill:$color-secondary;
    margin-right: .5rem;
}

.contact{
    padding:4rem 6rem;
    display:flex;
    justify-content: space-around;
    align-items: stretch;
    background-image: linear-gradient(rgba(0,0,0,0.7),
                                      rgba(0,0,0,0.7));
     @media screen and (max-width: 1270px) {
        padding:2rem;
    }
    @media screen and (max-width: 1140px) {
        padding:.5rem;
    }
    @media screen and (max-width: 780px) {
        flex-direction: column;
        padding-top: 1.5rem;
    }
    

    &__form{
        flex-basis: 40%;
        @media screen and (max-width: 780px) {
            width:100%;
            text-align: center;
            margin-top: 1.5rem;
        }
    }
}

.form{
    border-radius: 4px;
    padding:2rem;
    background-color: $color-white;
    @media screen and (max-width: 780px) {
        width:80%;
        margin:0 auto;
    }
    @media screen and (max-width: 415px) {
        width:100%;
    }

    &__heading{
        color:$color-white;
        margin-bottom: 1rem;
        text-transform: uppercase;
    }

    &__name,
    &__mail,
    &__area{
        border:none;
        border-radius: 4px;
        padding:.5rem;
        background-color: $color-grey-2;
        @media screen and (max-width: 1085px) {
            width:100%;
        }
    }

    &__name{
        margin-right: .5rem;
        @media screen and (max-width: 1085px) {
            margin-right: 0;
            margin-bottom: .5rem;
        }
    }

}

#area{
    display:block;
    width:100%;
    margin-top: .7rem;
}

////FOOTER //

.footer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-dark;
    color:$color-white;
    padding:1rem;

    &__services{
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;

        &__link{
            color:$color-white;
            padding:.5rem;
            font-weight: 200;
            &:hover{
                color:$color-secondary;
            }
        }
    }
}


////// GALLERY ////////////
.container{
    padding-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: $color-dark;
    @media screen and (max-width: 420px) {
        padding-top: 0;
    }
}

.item{
    margin:.5rem;
    width:30%;
    position: relative;
    border-radius: 4px;
    /*&:hover{
        position: absolute;
        z-index:100;
        transform: scale(1.4);
        transition: all .7s;

    }*/
    @media screen and (max-width: 420px) {
        width:100%;
    }
}

//scroll to top btn
#btnScrollToTop{
   
    position:fixed;
    right:10px;
    bottom:10px;
    width:50px;
    height:50px;
    border-radius: 50%;
    outline: none;
    border:none;
    background:$color-secondary;
    color:$color-dark;
    cursor:pointer;
    
  }

  ///SERVIS USLUGE

  .servis__heading{
      padding-top: 5rem;
  }

  .servis__text{
      padding: 2rem;
      line-height: 2rem;
  }

  .text__bold{
      display:block;
      margin-top: 1rem;
  }

  .servis__list{
      padding-left: 2rem;
  }

  .servis__body{
      background-color: $color-dark;
      color:$color-white;
  }
  .youtube{
      border-radius: 4px;
      align-self: center;
      width:50%;
      height:30rem;
     padding-top: 2rem;
     @media screen and (max-width: 780px) {
        width:100%;
        height: 15rem;
    }
  }

