$color-primary:rgb(18, 181, 167);
$color-secondary:rgb(198,168,108);
$color-dark:rgb(64,64,64);
$color-white:white;
$color-grey:grey;
$color-grey-2:#eaeae1;
$color-black:black;
$color-red: #ed1c24;

//font
$medium:1.3rem;